:root {
    --color1: #b2cdd8;
    --color2: #fed5cf;
    --color3: #ffffff;
    --color4: #404040;
  }
.MainChatCont{
    width:100%;
}
.groupname{
    width:70%;
    height:5vh;
    border-radius: 1rem;
    border:none;
    padding:5%;
    background-color: var(--color1);
    color: var(--color4);
}
.groupname::placeholder{
    color:var(--color4);
}
.userProfile{
    width:4%;
    height:3rem;
    padding: 0.25%;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-clip: padding-box, border-box;
    border: 5px solid transparent;
    border-image: linear-gradient(to right, var(--color2) 50%, var(--color1)50%);
    border-image-slice: 1;
    background: none;
    object-fit: cover;
}

.msgcont{
    height:58vh;
    overflow:auto;
}

.inputmsg{
    width:90%;
    padding-right: 40px;
    border: solid 2px var(--color4);
    border-radius: 0.5rem;
    background-color: var(--color3);
    color: var(--color4);
    padding: 0.5rem 1rem;
    transition: all 0.2s ease-out;
    margin-top:2%;
    padding:1%;
    margin-left:2%;
}

.iconimporttext{
    margin-top: 3%;
    margin-left: 1%;
}

.buttontext{
    background:none;
    border: none;
    float: right;
    padding: 1%;
    border-radius: 1rem;
    margin:1%;
    margin-top: 2.5%;
    background-color: #fed5cf;
}

.buttontext1{
    background:none;
    border: none;
    padding: 4%;
    border-radius: 1rem;
    margin:1%;
    background-color:var(--color2);
}
.msgSenderCont{
    display: flex;
}

.messagesender{
        display: flex;
        align-items: center;
        margin-left: 5%;
        padding: 1%;
        width: 40%;
        margin-top: 3%;
        border-radius: 10px;
        border: none;
        background-color: #D4D4D4;
}

.messagesentother{
    text-align: start;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-height: 100%;
  overflow-y: auto;
}

.messageisent{
    display: flex;
    align-items: center;
    margin-left: 55%;
    padding: 1%;
    width: 40%;
    margin-top: 3%;
    border-radius: 10px;
    border: none;
    background-color: #D4D4D4;
}
.messageisenttext{
    text-align: start;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-height: 100%;
    overflow-y: auto;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  